body {
  background-image: url("https://i.ebayimg.com/thumbs/images/m/mDk0JmwyqQgKqVZxmriDIbw/s-l225.jpg");
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}

.well {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOjCaY8gbWKQrMYPUdqguhsMs3X7L1vIeUB13kc2Mlx5Bn_6ntDw") !important;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right;
}
