body {
  background-image: url("http://www.rvrma.org/images/icons-lifestyle/tennis/PingPont.jpg");
  background-size: 550px;
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;

}
